---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.jsx';
---

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div>
	<Navbar client:load/>
</div>
		