---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.jsx';
---

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div>
	<Navbar client:load/>
	<>
		<Layout title="Home">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<Card title="Card 1" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 2" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 3" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 3" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 3" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 3" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 3" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 3" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 3" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 3" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 3" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 3" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 3" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
					<div class="col-md-4">
						<Card title="Card 3" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus."/>
					</div>
				</div>
			</div>
		</Layout>
</div>
		